{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

<div class="">
<a href=""><h2 class="text-center">{{maison.title}}  </h2> </a>



<img class="img-fluid" src="../{{maison.picture}}" >



<h5 class="text-center">{{maison.surface}} m²  </h5>
</div>

</div>

{% endblock %}